body {
  background-image: url('kmart.PNG');
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  /* Stretch the background image to cover the entire page */
   background-repeat: no-repeat;
    /* Prevent the background image from repeating */
     background-position: center;
      align-items: flex-end;
        /* Align items at the bottom */
}

.countdown-container {
  margin-bottom: 20px;
  /* Add some margin at the bottom for spacing from the bottom edge */
}

.countdown-container {
  text-align: center;
    background-color: white;
  /* Set the background color of .countdown-container to white */
  padding: 20px;
  /* Add some padding for better spacing */
  border-radius: 10px;
  /* Optional: Add border radius for a rounded look */
}

#countdown {
  font-size: 2rem;
  margin-top: 20px;
  color: black;
  /* Set text color to black for better contrast */
}
